/* GENERAL */

body{font-family: Corbel, Arial, sans-serif;
margin: 0}

a{color: #005462}


/* HEADER */

#header {
background-color: #ffe6ff;
}

h1{
	font-size: 36px;
	margin:0
	padding: 15px 0 0 0;
	text-align: center;
}

h2{
	margin:0
	text-align: center;
	text-align: center;
	
	

/* CONTENT */

#content {


}